*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: grid;
    place-items: center;
}
body tr{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 5px;
    box-shadow: 0 0.2rem 0 grey;
    margin-bottom: 10px;
    border-bottom: 4px solid transparent;
    & :last-child{
        box-shadow: none;
    }
}
table{
    margin-top: 1rem;
    background: #fff;
    box-shadow: 0px 7px 10px 0px;
    border-collapse: collapse;
    border-radius: 1rem;
}
thead tr th{
    padding: 0.5rem 0rem;
    font-size: 1.3rem;
    letter-spacing:0.1rem;
}
td{
    font-size: 1.2rem;
    padding:0.5rem;
    text-align: center;
    color:black;
    height: auto;
}
.app-container{
    width: 70vw;
}
html{
    font-size:70.5%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}
.grid-two-cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.grid-four-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* section-analytics */
.section-analytics{
    margin: 9.6rem 0rem;
    & .container{
        background-color: aliceblue;
        border-radius:1rem;
    }
    & .grid{
        columns: black;
        & .div1{
            text-align: center;
            border-right: 0.2rem solid black;
            &:last-child{
                border: none;
            }
            & h2{
                font-size:2.5rem;
            }
            & p{
                text-transform: capitalize;
            }
        }
    }
}